In [1]:
#import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('dataset.csv')

In [4]:
print(df)

                                                                                    diture  \
2018 N   Administrative and Support Services h_200+            Operating profit before tax
                                             h_200+                           Total assets
                                             h_200+                  Fixed tangible assets
                                             i_Industry_Total                Activity unit
                                             i_Industry_Total       Rolling mean employees
...                                                                                    ...
2021 all All Industries                      j_Grand_Total                    Total income
                                             j_Grand_Total               Total expenditure
                                             j_Grand_Total     Operating profit before tax
                                             j_Grand_Total                    Total assets
                                             j_Grand_Total           Fixed tangible assets

                                                                  3582  \
2018 N   Administrative and Support Services h_200+                227
                                             h_200+               2162
                                             h_200+                847
                                             i_Industry_Total    18012
                                             i_Industry_Total   119028
...                                                                ...
2021 all All Industries                      j_Grand_Total      757504
                                             j_Grand_Total      654404
                                             j_Grand_Total       85116
                                             j_Grand_Total     2512677
                                             j_Grand_Total      591351

                                                               DOLLARS(millions)
2018 N   Administrative and Support Services h_200+            DOLLARS(millions)
                                             h_200+            DOLLARS(millions)
                                             h_200+            DOLLARS(millions)
                                             i_Industry_Total              COUNT
                                             i_Industry_Total              COUNT
...                                                                          ...
2021 all All Industries                      j_Grand_Total     DOLLARS(millions)
                                             j_Grand_Total     DOLLARS(millions)
                                             j_Grand_Total     DOLLARS(millions)
                                             j_Grand_Total     DOLLARS(millions)
                                             j_Grand_Total     DOLLARS(millions)

[5070 rows x 3 columns]

In [5]:
df.describe()

                             diture  3582  DOLLARS(millions)
count                          5070  5070               5070
unique                            9  3268                  2
top     Operating profit before tax     C  DOLLARS(millions)
freq                            564    68               3944

In [6]:

df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5070 entries, (2018, 'N', 'Administrative and Support Services', 'h_200+') to (2021, 'all', 'All Industries', 'j_Grand_Total')
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   diture             5070 non-null   object
 1   3582               5070 non-null   object
 2   DOLLARS(millions)  5070 non-null   object
dtypes: object(3)
memory usage: 80.3+ KB

In [7]:
#displays first five rows of the dataset
df.head()

                                                                                  diture  \
2018 N Administrative and Support Services h_200+            Operating profit before tax
                                           h_200+                           Total assets
                                           h_200+                  Fixed tangible assets
                                           i_Industry_Total                Activity unit
                                           i_Industry_Total       Rolling mean employees

                                                               3582  \
2018 N Administrative and Support Services h_200+               227
                                           h_200+              2162
                                           h_200+               847
                                           i_Industry_Total   18012
                                           i_Industry_Total  119028

                                                             DOLLARS(millions)
2018 N Administrative and Support Services h_200+            DOLLARS(millions)
                                           h_200+            DOLLARS(millions)
                                           h_200+            DOLLARS(millions)
                                           i_Industry_Total              COUNT
                                           i_Industry_Total              COUNT

In [8]:
#cleaning
df.isnull().sum()

diture               0
3582                 0
DOLLARS(millions)    0
dtype: int64

In [9]:
#to replace missing values
data1=df.fillna(method="ffill")

In [10]:
#To check whether the valuies are replaced
data1.isnull().sum()

diture               0
3582                 0
DOLLARS(millions)    0
dtype: int64

In [11]:
df.head()

                                                                                  diture  \
2018 N Administrative and Support Services h_200+            Operating profit before tax
                                           h_200+                           Total assets
                                           h_200+                  Fixed tangible assets
                                           i_Industry_Total                Activity unit
                                           i_Industry_Total       Rolling mean employees

                                                               3582  \
2018 N Administrative and Support Services h_200+               227
                                           h_200+              2162
                                           h_200+               847
                                           i_Industry_Total   18012
                                           i_Industry_Total  119028

                                                             DOLLARS(millions)
2018 N Administrative and Support Services h_200+            DOLLARS(millions)
                                           h_200+            DOLLARS(millions)
                                           h_200+            DOLLARS(millions)
                                           i_Industry_Total              COUNT
                                           i_Industry_Total              COUNT

In [12]:
#reduction

cols=['diture','3582']
df = df.drop(cols, axis=1)

In [13]:
print(df)

                                                               DOLLARS(millions)
2018 N   Administrative and Support Services h_200+            DOLLARS(millions)
                                             h_200+            DOLLARS(millions)
                                             h_200+            DOLLARS(millions)
                                             i_Industry_Total              COUNT
                                             i_Industry_Total              COUNT
...                                                                          ...
2021 all All Industries                      j_Grand_Total     DOLLARS(millions)
                                             j_Grand_Total     DOLLARS(millions)
                                             j_Grand_Total     DOLLARS(millions)
                                             j_Grand_Total     DOLLARS(millions)
                                             j_Grand_Total     DOLLARS(millions)

[5070 rows x 1 columns]

In [14]:
#Transformation

data1.head()

                                                                                  diture  \
2018 N Administrative and Support Services h_200+            Operating profit before tax
                                           h_200+                           Total assets
                                           h_200+                  Fixed tangible assets
                                           i_Industry_Total                Activity unit
                                           i_Industry_Total       Rolling mean employees

                                                               3582  \
2018 N Administrative and Support Services h_200+               227
                                           h_200+              2162
                                           h_200+               847
                                           i_Industry_Total   18012
                                           i_Industry_Total  119028

                                                             DOLLARS(millions)
2018 N Administrative and Support Services h_200+            DOLLARS(millions)
                                           h_200+            DOLLARS(millions)
                                           h_200+            DOLLARS(millions)
                                           i_Industry_Total              COUNT
                                           i_Industry_Total              COUNT

In [15]:
dummy=pd.get_dummies(data1['All'])

<class 'KeyError'>: 'All'

In [16]:
dummy=pd.get_dummies(data1['diture'])

In [17]:
dummy

                                                               Activity unit  \
2018 N   Administrative and Support Services h_200+                        0
                                             h_200+                        0
                                             h_200+                        0
                                             i_Industry_Total              1
                                             i_Industry_Total              0
...                                                                      ...
2021 all All Industries                      j_Grand_Total                 0
                                             j_Grand_Total                 0
                                             j_Grand_Total                 0
                                             j_Grand_Total                 0
                                             j_Grand_Total                 0

                                                               Fixed tangible assets  \
2018 N   Administrative and Support Services h_200+                                0
                                             h_200+                                0
                                             h_200+                                1
                                             i_Industry_Total                      0
                                             i_Industry_Total                      0
...                                                                              ...
2021 all All Industries                      j_Grand_Total                         0
                                             j_Grand_Total                         0
                                             j_Grand_Total                         0
                                             j_Grand_Total                         0
                                             j_Grand_Total                         1

                                                               Operating profit before tax  \
2018 N   Administrative and Support Services h_200+                                      1
                                             h_200+                                      0
                                             h_200+                                      0
                                             i_Industry_Total                            0
                                             i_Industry_Total                            0
...                                                                                    ...
2021 all All Industries                      j_Grand_Total                               0
                                             j_Grand_Total                               0
                                             j_Grand_Total                               1
                                             j_Grand_Total                               0
                                             j_Grand_Total                               0

                                                               Rolling mean employees  \
2018 N   Administrative and Support Services h_200+                                 0
                                             h_200+                                 0
                                             h_200+                                 0
                                             i_Industry_Total                       0
                                             i_Industry_Total                       1
...                                                                               ...
2021 all All Industries                      j_Grand_Total                          0
                                             j_Grand_Total                          0
                                             j_Grand_Total                          0
                                             j_Grand_Total                          0
                                             j_Grand_Total                          0

                                                               Salaries and wages paid  \
2018 N   Administrative and Support Services h_200+                                  0
                                             h_200+                                  0
                                             h_200+                                  0
                                             i_Industry_Total                        0
                                             i_Industry_Total                        0
...                                                                                ...
2021 all All Industries                      j_Grand_Total                           0
                                             j_Grand_Total                           0
                                             j_Grand_Total                           0
                                             j_Grand_Total                           0
                                             j_Grand_Total                           0

                                                               Sales, government funding, grants and subsidies  \
2018 N   Administrative and Support Services h_200+                                                          0
                                             h_200+                                                          0
                                             h_200+                                                          0
                                             i_Industry_Total                                                0
                                             i_Industry_Total                                                0
...                                                                                                        ...
2021 all All Industries                      j_Grand_Total                                                   0
                                             j_Grand_Total                                                   0
                                             j_Grand_Total                                                   0
                                             j_Grand_Total                                                   0
                                             j_Grand_Total                                                   0

                                                               Total assets  \
2018 N   Administrative and Support Services h_200+                       0
                                             h_200+                       1
                                             h_200+                       0
                                             i_Industry_Total             0
                                             i_Industry_Total             0
...                                                                     ...
2021 all All Industries                      j_Grand_Total                0
                                             j_Grand_Total                0
                                             j_Grand_Total                0
                                             j_Grand_Total                1
                                             j_Grand_Total                0

                                                               Total expenditure  \
2018 N   Administrative and Support Services h_200+                            0
                                             h_200+                            0
                                             h_200+                            0
                                             i_Industry_Total                  0
                                             i_Industry_Total                  0
...                                                                          ...
2021 all All Industries                      j_Grand_Total                     0
                                             j_Grand_Total                     1
                                             j_Grand_Total                     0
                                             j_Grand_Total                     0
                                             j_Grand_Total                     0

                                                               Total income
2018 N   Administrative and Support Services h_200+                       0
                                             h_200+                       0
                                             h_200+                       0
                                             i_Industry_Total             0
                                             i_Industry_Total             0
...                                                                     ...
2021 all All Industries                      j_Grand_Total                1
                                             j_Grand_Total                0
                                             j_Grand_Total                0
                                             j_Grand_Total                0
                                             j_Grand_Total                0

[5070 rows x 9 columns]

In [18]:
data2=pd.concat((data1,dummy),axis=1)

In [19]:
data2=data2.drop(['All'],axis=1)

<class 'KeyError'>: "['All'] not found in axis"

In [20]:
data2=data2.drop(['diture'],axis=1)

In [21]:
data2.head()

                                                               3582  \
2018 N Administrative and Support Services h_200+               227
                                           h_200+              2162
                                           h_200+               847
                                           i_Industry_Total   18012
                                           i_Industry_Total  119028

                                                             DOLLARS(millions)  \
2018 N Administrative and Support Services h_200+            DOLLARS(millions)
                                           h_200+            DOLLARS(millions)
                                           h_200+            DOLLARS(millions)
                                           i_Industry_Total              COUNT
                                           i_Industry_Total              COUNT

                                                             Activity unit  \
2018 N Administrative and Support Services h_200+                        0
                                           h_200+                        0
                                           h_200+                        0
                                           i_Industry_Total              1
                                           i_Industry_Total              0

                                                             Fixed tangible assets  \
2018 N Administrative and Support Services h_200+                                0
                                           h_200+                                0
                                           h_200+                                1
                                           i_Industry_Total                      0
                                           i_Industry_Total                      0

                                                             Operating profit before tax  \
2018 N Administrative and Support Services h_200+                                      1
                                           h_200+                                      0
                                           h_200+                                      0
                                           i_Industry_Total                            0
                                           i_Industry_Total                            0

                                                             Rolling mean employees  \
2018 N Administrative and Support Services h_200+                                 0
                                           h_200+                                 0
                                           h_200+                                 0
                                           i_Industry_Total                       0
                                           i_Industry_Total                       1

                                                             Salaries and wages paid  \
2018 N Administrative and Support Services h_200+                                  0
                                           h_200+                                  0
                                           h_200+                                  0
                                           i_Industry_Total                        0
                                           i_Industry_Total                        0

                                                             Sales, government funding, grants and subsidies  \
2018 N Administrative and Support Services h_200+                                                          0
                                           h_200+                                                          0
                                           h_200+                                                          0
                                           i_Industry_Total                                                0
                                           i_Industry_Total                                                0

                                                             Total assets  \
2018 N Administrative and Support Services h_200+                       0
                                           h_200+                       1
                                           h_200+                       0
                                           i_Industry_Total             0
                                           i_Industry_Total             0

                                                             Total expenditure  \
2018 N Administrative and Support Services h_200+                            0
                                           h_200+                            0
                                           h_200+                            0
                                           i_Industry_Total                  0
                                           i_Industry_Total                  0

                                                             Total income
2018 N Administrative and Support Services h_200+                       0
                                           h_200+                       0
                                           h_200+                       0
                                           i_Industry_Total             0
                                           i_Industry_Total             0